#leaderboardContainer {
    margin-top: 50px;
    width: 1000px;
    background-color: #BBBBBB;
}

.lbeline {
    width: 100%;
    display: block;
    height: 30px;
    clear: both;
}

.lbeline div, .lbeline input {
    float: left;
}

.urank {
    background-color: #FFFF55;
    width: 150px;
}

.uname {
    background-color: #FFBBBB;
    width: 300px;
}

.uupdates {
    background-color: #FFFF44;
    width: 50px;
}

.uscore {
    background-color: #77FF77;
    width: 250px;
}

.modbtn,.delbtn {
    width: 75px;
}